<%-include partials/header.ejs %>

<%-include partials/main_nav.ejs %>

<!-- Main Content -->
    <main>

    <!-- inject different partial files -->
      <% if(title == "Home"){ %>
      <%-include content/home_content.ejs %>

      <% } if (title == "About"){ %>
      <%-include content/about_content.ejs %>

      <% } if (title == "Products"){%>
      <%-include content/products_content.ejs %>

      <% } if (title == "Services"){ %>
      <%-include content/services_content.ejs %>

      <% } if (title == "Contact"){%>
      <%-include content/contact_content.ejs %>
      <% } %>
    </main>

<%-include partials/bottom_nav.ejs %>

<%-include partials/footer.ejs %>