<%-include ../partials/header.ejs %>

<%-include ../partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1 class="text-center" id="businessContactHeading"> <%= title %> </h1>
            <br>
            <table class="table table-hover table-color" id="businessTable">
                <!-- Header Row -->
                <tr class="table-header-color d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-3">Contact Name</th>
                        <th class="text-center col-2">Number</th>
                        <th class="text-center col-5">Email</th>
                        
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1">
                            <a href="/business-contacts/add" class="btn btn-sm btn-outline-primary" role="button">
                                <i class="fas fa-plus-circle"></i></a>
                        </th>
                    <% } else { %>
                        <th class="text-center col-3">Contact Name</th>
                        <th class="text-center col-3">Number</th>
                        <th class="text-center col-6">Email</th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr class="d-flex">
                            <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-3"><%= ContactList[count].contact_name %></td>
                            <td class="text-center col-2"><%= ContactList[count].number %></td>
                            <td class="text-center col-5"><%= ContactList[count].email %></td>
                            <td class="text-right col-1">
                                <a href="/business-contacts/edit/<%= ContactList[count]._id %>" class="btn btn-dark btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/business-contacts/delete/<%= ContactList[count]._id %>" class="btn btn-secondary btn-sm btn-delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        <% } else { %>
                            <td class="text-center col-3"><%= ContactList[count].contact_name %></td>
                            <td class="text-center col-3"><%= ContactList[count].number %></td>
                            <td class="text-center col-6"><%= ContactList[count].email %></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
      
</main>

<%-include ../partials/bottom_nav.ejs %>

<%-include ../partials/footer.ejs %>